.form-input {
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  display: flex;
  margin-bottom: 10px;
  margin-right: 8px;
  position: relative;
  flex-wrap: wrap;
  height: 48px;
}

.form-input > label {
  transform: translate(20px, -65%);
  color: #a8a8a8;
  position: absolute;
  padding: 0 5px;
  background-color: #ffff;
}

.form-input > input {
  border: none;
  height: 40px;
}

.small-width {
  width: 185px !important;
}
